/* TABLE OF CONTENTS

    1. Basic Document Styles
    2. Table
    3. Media Types
    
*/
/* 1. Basic Document Styles
-------------------------------------------------*/
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 100%; }

html, body {
  height: 100%; }

body {
  overflow-x: hidden;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem; }

h1 {
  font-size: 112px;
  font-size: 7rem;
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 300; }

h2 {
  font-size: 56px;
  font-size: 3.5rem;
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 400; }

h3 {
  font-size: 45px;
  font-size: 2.8125rem;
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 400;
  line-height: 48px;
  line-height: 3rem; }

h4 {
  font-size: 34px;
  font-size: 2.125rem;
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 400;
  line-height: 40px;
  line-height: 2.5rem; }

h5 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  line-height: 32px;
  line-height: 2rem; }

h6 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87); }

caption {
  font-size: 12px;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54); }

a {
  color: #00796B;
  cursor: pointer; }

p {
  margin-bottom: 1rem; }

table {
  width: 100%; }

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: none; }

img {
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 20px; }

/* 2. Table
-------------------------------------------------*/
.glyphicon {
  margin-left: 10px; }

th {
  font-size: 12px;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
  transition: all .5s ease; }

th:hover {
  color: rgba(0, 0, 0, 0.87); }

th a:hover {
  color: rgba(0, 0, 0, 0.87); }

table tbody {
  font-size: 13px;
  font-size: 0.8125rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500; }

.table td {
  text-align: left; }

.table tr {
  height: 48px; }

.table thead tr th {
  text-align: left; }

.table thead tr th.numeric-header {
  text-align: right; }

.table tbody td.numeric-data {
  text-align: right;
  vertical-align: middle; }

.table tbody .table-rows {
  transition: background-color 1s ease; }

table tbody .table-rows:hover {
  background-color: #EEEEEE; }

.table thead tr th,
.table tbody tr td {
  padding-right: 56px; }

.table thead tr th:first-child,
.table tbody tr td:first-child {
  padding-left: 24px;
  padding-right: 24px;
  text-align: center; }

span {
  transition: all 1s ease; }

/* Firefox hack to fix fieldset styling */
@-moz-document url-prefix() {
  fieldset {
    display: table-cell; } }
/* 3. Media Types
-------------------------------------------------*/
@media (max-width: 600px) {
  .title {
    font-size: 56px;
    font-size: 3.5rem; } }

/*# sourceMappingURL=main.css.map */
